/.StatemachineRuntimeModule.java._trace
/.StatemachineRuntimeModule.xtendbin
/.StatemachineStandaloneSetup.java._trace
/.StatemachineStandaloneSetup.xtendbin
/StatemachineRuntimeModule.java
/StatemachineStandaloneSetup.java
