/.StatemachineContentTypeProvider.java._trace
/.StatemachineContentTypeProvider.xtendbin
/.StatemachineResourceSetProvider.java._trace
/.StatemachineResourceSetProvider.xtendbin
/StatemachineContentTypeProvider.java
/StatemachineResourceSetProvider.java
