/.DefaultContentTypeProvider.java._trace
/.DefaultContentTypeProvider.xtendbin
/.GeneratorResult.java._trace
/.GeneratorResult.xtendbin
/.GeneratorService.java._trace
/.GeneratorService.xtendbin
/.IContentTypeProvider.java._trace
/.IContentTypeProvider.xtendbin
/DefaultContentTypeProvider.java
/GeneratorResult.java
/GeneratorService.java
/IContentTypeProvider.java
