/.CancelIndicatorProgressMonitor.java._trace
/.CancelIndicatorProgressMonitor.xtendbin
/.ElementAtOffsetUtil.java._trace
/.ElementAtOffsetUtil.xtendbin
/CancelIndicatorProgressMonitor.java
/ElementAtOffsetUtil.java
