
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee

          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"

    version="3.0">

     <display-name>Webapp1</display-name>
    
<!-- <welcome-file-list>
		<welcome-file>exam.html</welcome-file>
</welcome-file-list>-->

<servlet>
	<servlet-name>Xtext Services</servlet-name>
	<servlet-class> ru.one.c.www.statemachine.servlet.MyXtextServlet </servlet-class>
</servlet>
	
<servlet-mapping>
	<servlet-name>Xtext Services</servlet-name>
	<url-pattern>/xtext-service/*</url-pattern>
</servlet-mapping>

<!-- <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
     
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping> -->

</web-app> 
 
